HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULATOR</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .add,
        .sub,
        .mul {
            margin-left: 30px;
            margin-top: 10px;
        }

        .num-con {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <form>
        <fieldset>
            <legend>Calulator</legend>
            <section class="num-con"> <label> Number 1</label><input type="number" class="num1" name="num1"
                    id="num1"><br></section>
            <section calss="num-con"><label> Number 2</label><input id="num2" type="number" class="num2"
                    name="num2"><br></section>
            <button id="1" class="add">ADD</button>
            <button id="2" class="sub">SUB</button>
            <button id="3" class="mul">MULTIPLY</button><br>
            <br>
            <label>ANSWER</label>
            <div id="ans" class="num-con">{{result}}</div>
        </fieldset>
    </form>
    <script>
        $(document).ready(() => {
            $(".add").click(function (event) {
                event.preventDefault()//uses to preventDefault functionality of event
                console.log($(".num1").val())
                console.log($(".num2").val())
                $.post({ url: "/add", data: {data:[$(".num1").val(), $(".num2").val()]} , function(data){
                    $("#ans").html(data)
                } });
            });
        })
        
        $(".sub").click(function (event) {
            event.preventDefault();
            console.log($(".num1").val())
            console.log($(".num2").val())
            $.post({url: "/sub", data:{data:[$(".num1").val(), $(".num2").val()]} });
        })

           $(".mul").click(function (event) {
            event.preventDefault();
            console.log($(".num1").val())
            console.log($(".num2").val())
            $.post({url: "/mul", data:{data:[$(".num1").val(), $(".num2").val()]} });
        })



    </script>
</body>

</html>

